body {


    background-image: url('./prof.jpg');
 
}

button:hover {
  background-color: #008CBA; 
  color: white; 
}

button{
  width: 50%;
display:block;
margin:20px auto;
background-color: #84c1d5;
padding:4%;
border-radius: 40px;
margin-bottom: 5%;
font-size: 150%;
font-weight: bold;
}

.head-text{
  margin-top: 5%;
  text-align: center;
  margin-right: 20px;
  font-size: 400%;
}
a{
  text-decoration: none;
}
#container{
  width :70%;
  /* border:3px solid black; */
  margin-top:10%;
  margin-left:auto;
  margin-right: auto;
}