body{
  background-image: url('./prof.jpg');
}
@media screen and (max-width: 480px) {
 .labels{
  font-size: 10px;
 }
 .contentinform{
  padding: 5% 20px 0;
 }
 .row-entry{
  display: flex;
  justify-content: space-around;
  align-items: center;
 }
 .labels,.inputs{
  width:50%;
 }
 .btn{
  width: 60px;
  font-size: 10px;
  
 }
 .signinButton{
  width: 60px;
  font-size: 10px;
 }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
 .labels{
  font-size: 14px;
 }
 .contentinform{
  padding: 5% 20px 0;
 }
 .row-entry{
  display: flex;
  justify-content: space-around;
  align-items: center;
 }
 .labels,.inputs{
  width:50%;
 }
 .btn{
  width: 60px;
  font-size: 12px;
  
 }
 .signinButton{
  width: 60px;
  font-size: 12px;
 }
}
.row-entry {
  margin-bottom: 4%;
}

@media screen and (min-width: 768px){

  .labels{
    font-size: 20px;
  }
  .contentinform{
    padding: 5% 20px 0;
  }
  .row-entry{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .labels,.inputs{
    width:50%;
  }
  .btn{
    width: 60px;
    font-size: 14px;
    
  }
  .signinButton{
    width: 60px;
    font-size: 14px;
  }
}

.formControl {
  width: 60%;
  max-width: 480px;
  border: 2px solid black;
  font-size: 22px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
 
}
.head-text{
  margin-top: 5%;
  text-align: center;
  margin-right: 20px;
}

button:hover {
  background-color: #1c7390; 
  color: white; 
}

button{
width: 60px;
display:block;
margin:20px auto;
background-color: #84c1d5;
padding:0.5%;
border-radius: 40px;
font-weight: bolder;
}

.container {
margin-top: 2%;
text-align: center;
}

.container h3, .container button {
  display: inline-block;
  margin-right: 2%;
}



#iconImage {
  height: 60px;
  width: 60px
}

.parentContainer {
  display: flex;
  justify-content: center; 
}

.titleContainer {
  display: flex;
  align-items: center; 
}

#iconImage{
  border-radius: 50%;
}
